<!-- component -->
<div class=" flex  flex-col  md:flex-row justify-center  flex-wrap gap-6 mt-10">
    <div class="w-3/5">
        <div class="bg-white shadow-lg mx-auto border-b-4 border-indigo-800 rounded-2xl overflow-hidden  hover:shadow-2xl transition duration-500 transform hover:scale-105 cursor-pointer" >
            <div class="bg-indigo-800  flex h-20 p-4 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
                <p class="ml-4 text-white uppercase">Product List</p>
            </div>
      
            <%= form_with(url: search_shopping_carts_path, data: { controller: 'form-submission', form_submission_target: "form" })do | form | %>
                <div class="relative mx-4 lg:mx-0 py-3">
                    <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                        <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                    </span>
                    <%= form.text_field 'search_term', 
                        placeholder: 'Scan product items...', 
                        class:"w-2/4 ml-2 pl-8 pr-4 h-10 border rounded px-4 bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" 
                    %>

                    <%= form.submit 'Add', 
                        class:"border border-blue-800 text-blue-800 rounded-md px-4 py-2 m-2 transition duration-800 ease select-none hover:text-white hover:bg-blue-600 focus:outline-none focus:shadow-outline",
                        data: { action: "input->form-submission#search" } 
                    %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="w-3/5">
        <div class="bg-white shadow-lg mx-auto border-b-4 border-indigo-800 rounded-2xl overflow-hidden  hover:shadow-2xl transition duration-500 transform hover:scale-105 cursor-pointer" >
            <div class="bg-indigo-800  flex h-20 p-4 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                </svg>
                <p class="ml-4 text-white uppercase">Market List</p>
            </div>

            <table class="min-w-max w-full table-auto">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Code</th>
                        <th class="py-6 px-6 text-left">Description</th>
                        <th class="py-2 px-6 text-left">Price</th>
                        <th class="py-3 px-6 text-center">Actions</th>
                    </tr>
                </thead>


                <tbody class="bg-white" id="order" is="turbo-frame">



                    <%= render 'form', products: @products, order: @order %>




                </tbody>
            </table>

            
        </div>
    </div>
</div>


