<div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
    <div class="text-gray-600">
        <p class="font-medium text-lg">Register Product</p>
        <p>Please fill out all the fields.</p>
    </div>
    <%= render 'form', product: @product %>
</div>